<!-constants begin->
body {
background-color: white;
}
h1 {
font-family: phosphate;
color: white;
font-size: 180%; 
line-height: 65%;
} 

h2 {
font-family: phosphate;
color: white;
font-size: 110%; 
line-height: 50%;
}

p {
font-family: courier;
text-align: left;
margin-top: 2%;
margin-left: 2%;
margin-bottom: 2%;
font-size: 100%; 
line-height: 125%;
}

.headerlogo {
margin-top: 0px;
color: white;
font-family: phosphate-solid;
}

.header {
background-color: lightblue;
}

a {
text-decoration: none;
color: black;
}
<!-constants end->

.listing1 {
background-color: black;
border-style: solid;
width: 70%;
}

.titlecontainer1 {
border-style: solid;
}

.imagecontainer1 {
border-style: solid;
}

.tagscontainer1 {
background-color: black;
border-style: solid;
height: 50px;
}

.price {
margin-top: -5%;
margin-right: 0%;
}

.booknowtext {
font-family: phosphate-solid;
color:white;
font-size: 200%;
margin-top: 1%;
transition-property: font-size;
transition-duration: .5s;
transition-delay: 0s;
}

.rating {
margin-left: -70%;
margin-top: -2.5%;
}

.booknowtext:hover {
text-decoration: underline;
}
